/* Base Styles */
body {
  margin: 2em 1em 4em;
  font-family: 'IBM Plex Serif', serif;
  color: rgb(23, 28, 28);
}

h1 {
  font: 700 3em 'Roboto Condensed', sans-serif;
}

h2 {
  margin-top: 2em;
  font: 400 1.5em 'Roboto Condensed', sans-serif;
  color: blue;
}

/* Link Styles */
a {
  font-weight: 700;
  color: rgb(23, 28, 28);
  text-decoration: none;
  box-shadow: inset 0 -0.4em rgb(255, 255, 0, 0.85);
}

a:hover {
  box-shadow: inset 0em 1.4em rgba(255, 255, 0, 0.85);
}

a:focus {
  box-shadow: inset 0em 1.4em rgba(255, 255, 0, 0.85);
  border: 1px solid lightgrey;
}

/* Main Styles */
ul li {
  margin-bottom: 0.75rem;
}

header h1 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

footer {
  display: none;
}

.contact, .print-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: 1.5em 'Roboto Condensed', sans-serif;
}

.contact-item {
  margin-bottom: 0.35em;
  font-weight: 700;
  display: inline;
}

.current-position {
  margin-bottom: 2rem;
}

.print-contact {
  display: none;
}

.print-button {
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 0.75rem;

  font: 400 0.8em 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fafafa;

  background-color: rgb(23, 28, 28);
  border-radius: 2px;
  border-width: 0;
  box-shadow: -3px -2px 7px rgba(0, 0, 0, 0.25);

  transition: bottom 100ms ease-in, right 100ms ease-in;
}

.print-button:hover {
  bottom: calc(1em + 3px);
  right: calc(1em + 3px);

  color: #93979e;
  box-shadow: 5px 5px 0px rgba(255, 255, 0, 0.85);

  transition: bottom 100ms ease-in, right 100ms ease-in;
}

.print-button svg {
  margin-right: 0.35rem;
  width: 1.25rem;
  height: 1.25rem;

  fill: #fafafa;
}

.print-button:hover svg {
  fill: #93979e;
}

/* Media Queries */

/* Contact Nav Break */
@media (min-width: 536px) {
  body {
    margin: 2rem;
  }

  footer {
    display: block;
    padding-top: 1em;
    margin-bottom: 4rem;
  }

  .contact {
    flex-direction: row;
  }

  .contact-item {
    margin: 0 0.5em 0 0;
  }
}

/* Desktop */
@media (min-width: 769px) {
  body {
    margin: 3rem auto;
    width: 80%;
    max-width: 800px;
  }
}

@media print {
  html {
    font-size: 11px;
  }

  body {
    margin: 3rem auto;
    width: 70%;
    max-width: 800px;
  }

  .no-print {
    display: none;
  }

  a {
    box-shadow: none;
    font-weight: 400;
  }
}