/* Base Styles */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  color: rgb(23, 28, 28);
  max-width: 1200px;
  margin: auto;
}

#wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: cornsilk;
  margin: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

header > * {
  margin-bottom: 0.25em;
}

main {
  max-width: 750px;
  background-color: aquamarine;
}

h1 {
  font-weight: 600;
  font-size: 1.25em;
}

#intro {
  margin-bottom: 1em;
}

.contact {
  font-weight: 600;
  margin: 1em 0em;
}

/* Link Styles */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Job & Position Styles */
.position-section {
  padding: 1.5em;
  border-radius: .5em;
  margin-bottom: 1em;
  background-color: #fff;
}

.position-section :last-child {
  margin-bottom: 0;
}

.position-section p {
  padding: 0;
  margin: 0;
}

.job {
  display: flex;
  align-items: flex-start;
  width: auto;
  background-color: #c94848;
  margin-bottom: 1em;
}

.job strong {
  width: 50%;
  height: auto;
  font-weight: 600;
}

.position {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: min-content;
  justify-content: space-between;
  background-color: rgb(93, 168, 235);
}

ul {
  width: 100%;
}

ul li {
  margin-bottom: 0.75rem;
}

/* Footer */
.contact-item {
  margin-right: 1em;
}

/* Media Queries */
/* Desktop */
/* @media (min-width: 769px) {
  body {
    margin: 3rem auto;
    width: 80%;
  }
} */