/* Base Styles */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  color: rgb(23, 28, 28);
  max-width: 1000px;
  margin: auto;
}

#wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 6em 2em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

header > * {
  margin-bottom: 0.25em;
}

main {
  max-width: 650px;
}

h1 {
  font-weight: 600;
  font-size: 1.25em;
}

#intro {
  margin-bottom: 1em;
  line-height: 1.5em;
  padding: 0em 1.5em;
}

.contact {
  font-weight: 600;
  margin: 1.5em 0em 3em;
}

/* Link Styles */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Job & Position Styles */
.position-section {
  padding: 1.5em;
  border-radius: .5em;
  margin-bottom: 1em;
  background-color: #fff;
  filter:  drop-shadow(2px 1px 15px #052B430D)
}

.position-section :last-child {
  margin-bottom: 0;
}

.job {
  display: flex;
  align-items: flex-start;
  width: auto;
  margin-bottom: 2em;
}

.job strong {
  width: 50%;
  height: auto;
  font-weight: 600;
}

.position {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.position > * {
  flex-shrink: 0;
}

.position :first-child {
  margin-right: .5em;
}

.position :last-child {
  margin-left: .5em;
}

.position em {
  color: #BBB;
}

.position-separator {
  flex-shrink: 1;
  align-self: center;
  width: 100%;
  border-bottom: 1px dashed #EEE;
}

ul {
  width: 100%;
}

ul li {
  margin-bottom: 0.75rem;
}

/* Footer & Small */
small {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5em;
}

small > * {
  margin-right: 1em;
  color: #BBB;
}

/* Media Queries */
@media (max-width: 769px) {
  #wrapper {
    flex-direction: column;
    margin: 2em 1em;
  }

  header {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
  }
}

@media (max-width: 600px) {
  .job {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .position {
    flex-direction: column;
  }

  .position-separator {
    display: none;
  }

  .position :last-child {
    margin: 0px;
  }
}