@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1B2120;
    --text-color: #BDB1A0;
    --interpunct-color: rgba(189, 177, 160, 0.25);
    --hr-color: #BDB1A0;
  
    --skill-text-color: #CA8500;
    --skill-bg-color-1: #1B160E;
    --skill-bg-color-2: #1B160E;
    --skill-text-highlight-color: #C5D348;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF;
    --text-color: #000;
    --interpunct-color: rgba(0, 0, 0, 0.25);
    --hr-color: #000;
  
    --skill-text-color: #555555;
    --skill-bg-color-1: #E1E1E1;
    --skill-bg-color-2: #F5F5F5;
    --skill-text-highlight-color: #000;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

div, p, a, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}


a {
  color:var(--text-color);
}

a:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  max-width: 50rem;
  margin: 4rem 1rem;
  gap: 4rem;
}

hr {
  border: 0.5px solid var(--hr-color);
  width: 100%;
}

/* Header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.app-header img {
  height: 110px;
  width: 110px;
  border-radius: 20%;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

/* Nav */
.nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  font-size: 1.75em;
  list-style: none;
}


.nav a {
  color: var(--text-color);
  opacity: 0.5;
  text-decoration: none;
}

.nav a:hover {
  color: var(--text-color);
  opacity: 1;
  text-decoration: underline;
}

.nav .active {
  color: var(--text-color);
  opacity: 1;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  gap: 1rem;
}

.contact * {
  flex: 1;
}

.contact ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  gap: .25rem;
}

/* Bio */
.bio {
  width: 66%;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}

.bio a {
  font-family: 'IBM Plex Serif', serif;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem;
  align-items: flex-start;
  gap: .85em;
  align-self: stretch;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65em; /* 166.667% */
}

/* Resume */
.resume {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.position {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.position-header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.complex-position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.company {
  font-weight: 600;
}

.interpunct {
  display: flex;
  flex: 1;
  border: 1px dashed var(--interpunct-color);
}

.spacer {
  width: 1.5rem;
}

.skills-group {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  padding: 0.25rem 0.375rem;
  align-items: flex-start;
  gap: 0.25rem;

  border-radius: 0.25rem;
  background: linear-gradient(105deg, var(--skill-bg-color-1) 0%, var(--skill-bg-color-2) 60%);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.10);
  
  color: var(--skill-text-color);
  font-family: IBM Plex Mono;
  font-size: 1rem;
}

.skill:hover {
  color: var(--skill-text-highlight-color);
  cursor: crosshair;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 3rem;
}

.projects section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects h4 {
  margin-top: 1em;
}

.roles-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;

}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  align-self: stretch;
}

footer :first-child {
  display: flex;
  flex: 1;  
  align-self: flex-start;
}

@media screen and (max-width: 600px) {
  .position-header {
    flex-direction: column;
    gap: 0;
  }

  .about, .projects {
    padding: 0;
  }
}
